@import "tailwindcss";

@theme {
  --color-graycard: #d4d7d4;
}

@layer base {
  body {
    @apply bg-blue-400;
    font-family: var(--font-jakarta);
  }
  :root {
    --font-jakarta: "Plus Jakarta Sans", sans-serif;
    --font-inter: "Inter", sans-serif;
  }
}

@layer components {
  /* Component classes here */
}

@layer utilities {
  .font-inter {
    font-family: var(--font-inter);
  }
}
